
body{
	background: #ffffff url("images/hurmaj.jpg") no-repeat fixed center; 
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}

#axis7{
	position: absolute;
	text-align: center;
	top:105%;
    left: 5%;
		
}

#axis7:hover .larger{
    transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
}